*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    background: url("https://img.freepik.com/free-photo/orange-watercolor-brush-stroke-background_1017-24500.jpg?w=2000") no-repeat center center fixed;
}

span{
    color: #393939;
}

p{
    font-size: 3rem;
    background-color: #414141;
    color: #ffffff;
    margin: 1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
    width: 80%;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;

}

h1{
    text-align: center;
    margin-top: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
    color:#ffffffd8;
}

button{
    font-size: 1.9rem;
    margin: 0.3rem;
    height: 4rem;
    width: 5rem;
    background-color: #4D4D4D;
    border: 0;
    border-radius: 1rem;
    color: #ffffff;
    cursor: pointer;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    background-color: #1A1A1A;
    margin-top: 2rem;
    width: 400px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonPanel{
    padding-bottom: 1rem;
}

.buttonC{
    background-color: #F7931F;
}

.buttonOperator{
    background-color: #F7931F;
}